/* left menu */
.menu { margin: 0;  }
.accordion-group { border: none; }
.accordion-inner { padding: 0 20px; border: none; }
.sub-section { cursor: pointer; padding: 2px; display: block; }
.sub-section-selected { color: red; }
/* .sub-section:hover { background-color: #F9F8F6; } */


/* main view animation */
.main-view-animation-hack1 {
  min-width: 840px;
  display: inline-block;
  position: absolute;
}

.main-view-enter {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}

.main-view-enter {
  left: 150px;
  width: 100%;
  opacity: 0;
  position: absolute;
}

.main-view-enter.main-view-enter-active {
  left: 0;
  opacity: 1;
}
/* /main view animation */

/* app loading *** TODO: refactor both the css and js - probably change to a generic 'thinking/working' module */
.app-loading-container {
  float: left;
  padding: 8px;
}

.app-loading-animation {
  -webkit-transition:all 0.25s linear;
  background:url(http://yearofmoo-articles.github.io/angularjs-animation-article/app/lib/spinner.gif) center center no-repeat;
  width:25px;
  height:25px;
  display:block;
}

.app-loading-animation.ready {
  opacity:0;
}

.app-loading-animation, .app-loading-animation.loading {
  opacity:1;
}
/* /app loading */

/* fields */
.field .title-block { display: block; margin: 3px; }
.field .value { }
.field .tip-bottom { display: block; }

.icon-star, .icon-star-empty { color: gold; font-size: 20px; }

.control-group .span1 { width: 40px !important; } /* timepicker hack *** TODO: investigate; */

.field label { margin: 5px; }

.flag { padding-right: 3px; }

.field .hidden { display: none !important; }