<div class="ng-cloak navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" style="padding:0;" href="http://www.teacherhorizons.com">
        <img style="padding:0;" class="brand" src="../../../shared/images/logo.jpg" alt="logo" />
      </a>
      <span class="app-loading-container">
        <span class="app-loading-animation ready" data-ng-class="status"></span>
      </span>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="{{structure.schoolData.school.alias}}" target="_blank">
              <span style="margin: 0 3px 0 -3px;"><i class="icon-eye-open" style="font-size: 18px;"></i></span>
              View school profile
            </a>
          </li>
          <li ng-repeat="s in structure.sections" ng-class="s.isSelected ? 'active' : ''">
            <a ng-href="#/{{structure.schoolId}}/{{$index+1}}/1/1">
              <span style="margin: 0 3px 0 -3px;"><i class="icon-{{s.icon}}" style="font-size: 18px;"></i></span>
              {{s.title}}
            </a>
          </li>
          <li>
            <a href="{{structure.schoolData.school.alias}}/jobs" target="_blank">
              <span style="margin: 0 3px 0 -3px;"><i class="icon-envelope" style="font-size: 18px;"></i></span>
              Post vacancies
            </a>
          </li>
        </ul>
        <span ng-show="mode < 3">
          <input type="checkbox" ng-model="isDevMode" style="float: right; margin-top: 13px;"></input>
        </span>
      </div>
    </div>
    <div ng-if="isDevMode" style="background-color: white; line-height: 15px;">
      &nbsp;{{serverService.sentToServer[serverService.sentToServer.length-1]}}
    </div>
  </div>
</div>
<div class="row-fluid">
  <div ui-view></div>
</div>