<div class="video-url-edit">
  <a ng-show="!model.isEditMode" type="text" target="_blank" href="{{model.val}}">{{model.val}}</a>

  <input ng-show="model.isEditMode" type="text" ng-model="model.val" ng-blur="model.isEditMode=false" placeholder="Paste YouTube or Vimeo URL here" style="min-width: 400px; width: 50%"></input>

  <span content-item-icons model="model"></span>

  <div style="margin-top: 10px;" ng-show="model.val">
    <iframe width="355" height="200" src="{{model.val}}" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>