<div>
  <h3>Sub-section 1.2</h3>

  <div class="field"> <!-- *** TODO: fix the bug https://github.com/angular-ui/bootstrap/issues/760 -->
    <span class="title-block">Example date widget. This is the title of a field whose value can be a date.</span>
    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dateField1"
      open="opened" min="'1999-06-22'" max="'2015-06-22'"
      datepicker-options="{ 'year-format': 'yy', 'starting-day': 1 }"></input>
    <button class="btn" ng-click="dateField1Open()"><i class="icon-calendar"></i></button>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example time widget. This is the title of a field whose value can be a time.</span>
    <timepicker ng-model="timeField1" hour-step="1" minute-step="10" show-meridian="true"></timepicker>
    <hr/>
  </div>
</div>
