<div>
  <h3>Sub-section 2.1</h3>

  <div class="field">
    <span class="title-block">Example selectFromFew widget (multiple values)</span>
    <div select-many-from-few ng-model="list1" list="list1" selection="selection1" checked-class="btn-info"></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromFew widget (multiple values, max # values = 3)</span>
    <div select-many-from-few list="list3" selection="selection3" max-select="3"></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromFew widget (single value)</span>
    <div select-many-from-few list="list2" selection="selection2" max-select="1"></div>
    <hr/>
  </div>
</div>
