<div>
  <h3>Sub-section 2.2</h3>

  <div>NOTE: These examples are for countries - but the values could be anything<hr/></div>

  <div class="field">
    <span class="title-block">Example selectFromMany widget (single-select with no pre-selection)</span>
    <div select-from-many list="countries" field="selection.country1" placeholder="Select a country..."></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromMany widget (single-select with pre-selection)</span>
    <div select-from-many list="countries" field="selection.country2" placeholder="Select a country..."></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromMany widget (multi-select with no pre-selection)</span>
    <div select-from-many list="countries" field="selection.countries1" placeholder="Select some countries..." multiple></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromMany widget (multi-select with pre-selection)</span>
    <div select-from-many list="countries" field="selection.countries2" placeholder="Select some countries..." multiple></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromMany widget (single-select with images)</span>
    <div select-from-many list="countries" field="selection.country4" format="format" placeholder="Select a country..."></div>
    <hr/>
  </div>
  <div class="field">
    <span class="title-block">Example selectFromMany widget (multi-select with images)</span>
    <div select-from-many list="countries" field="selection.countries3" format="format" placeholder="Select some countries..." multiple></div>
    <hr/>
  </div>

</div>
