/* generic */
.rounded5px {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rounded15px {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.img-container {
  position: relative;
}
.img-container img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto; width: auto; height: auto;
}


/* job */
.job { display: inline-block; margin: 0 0 5px 0; background-color: white; min-height: 170px; cursor: pointer; border: 3px solid #fcd25a; }
.job:hover { background-color: #FFFFDC; }

.job-title { color: #3487be; font-weight: bold; font-size: 18px; margin-bottom: 7px; }
.job-title:hover { text-decoration: underline; } 

/* filters */
.filter select { }

/* dropdown filters */

/* text input filters (including date) */
.filter input[type="text"] { float: left; width: 100%; height: 2em; -webkit-box-sizing: border-box; }

.filter input[type="text"]::-webkit-input-placeholder { color: #555555; } /* placeholder color needs to match other filters */
.filter input[type="text"]:-ms-input-placeholder { color: #555555; } /* ie */
.filter input[type="text"]:-moz-placeholder { color: #555555; opacity: 1; }
.filter input[type="text"]::-moz-placeholder { color: #555555; opacity: 1;  } /* Firefox 19+ */

/* yellow button */
.btn-yellow { background-color: #fcd25a; }
.btn-yellow:hover { background-color: #f9c022; }

/* apply button */
.btn-apply {
  margin: 5px 0; background-color: #fcd25a; width: 180px; font-size: 16px;
}
.btn-apply:hover {
  background-color: #f9c022;
}

/* small browser differences */
html {overflow-y: scroll;}
.btn:focus, input[type="text"]:focus, a:focus, select:focus { outline: none; }
::-ms-clear { display: none; }

/* custom bootstrap adjustments */
.btn { text-shadow: none; box-shadow: none; }


/* left menu */
select {
  background-color: #ffffff;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #555555;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
}

.container-left { }
.search { margin: 20px 0 10px 0; }
.search .input-append input { width: 199px; }
.filter span { float: left; font-weight: bold; display: block; }
.filter select { float: left; width: 100%; margin-bottom: 5px; }
.input span { font-weight: bold; display: block; }
.input input { width: 100%; margin-bottom: 5px; }
.icon-cross { float: left; color: #ccc; margin: 0.45em 0 0 -2.1em; cursor: pointer; z-index: 2; }

