<div class="modal fade ng-scope in" style="width: 400px;">
  <div class="modal-header">
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body" style="height: 310px;">
    <div style="margin-bottom: 8px;">This page isn't yet ready to be left (there may be an issue which needs to be resolved). Your options are:</div>
    <button ng-click="close(true)" class="btn btn-danger" style="height: 40px; width: 250px; margin: 20px 50px">Leave page anyway</a>
    <button ng-click="close()" class="btn btn-warning" style="height: 40px; width: 250px; margin: 20px 50px">Try again</button>
    <button ng-click="close(false)" class="btn btn-success" style="height: 40px; width: 250px; margin: 20px 50px;">Stay on this page (recommended)</button>
  </div>
</div>
