<div style="color: #3487be; font-weight: bold; font-size: 16px; margin: 5px 0 10px 5px;">27 jobs match your search</div>

<div class="filter">
  <span>Subject</span>
  <select ng-model="filters.subject.val" WIPng-options="x.name group by x.type for x in filters.subject.data">
    <option value="">You want to teach</option>
    <option disabled="disabled">--------------------</option>
    <option value="">Accounting</option>
    <option value="">Archaeology</option>
    <option value="">...</option>
  </select>
  <i class="icon-remove" ng-hide="!filters.subject.val" ng-click="filters.subject.val=undefined"></i>
</div>
<div class="filter">
  <span>Position</span>
  <select ng-model="filters.position.val" ng-options="x.name group by x.type for x in filters.position.data">
    <option value="">You want to be in</option>
  </select>
  <i class="icon-remove" ng-hide="!filters.position.val" ng-click="filters.position.val=undefined"></i>
</div>
<div class="filter">
  <span>Location</span>
  <select ng-model="filters.location.val" ng-options="x.name group by x.type for x in filters.location.data">
    <option value="">Where you want to live</option>
  </select>
  <i class="icon-remove" ng-hide="!filters.location.val" ng-click="filters.location.val=undefined"></i>
</div>
<div class="filter">
  <span>Curriculum</span>
  <select ng-model="filters.curriculum.val" ng-options="x.name group by x.type for x in filters.curriculum.data">
    <option value="">What do you want to teach</option>
  </select>
  <i class="icon-remove" ng-hide="!filters.curriculum.val" ng-click="filters.curriculum.val=undefined"></i>
</div>
<div class="filter">
  <span>School type</span>
  <select ng-model="filters.schoolType.val" ng-options="x.name group by x.type for x in filters.schoolType.data">
    <option value="">What type of school do you want</option>
  </select>
  <i class="icon-remove" ng-hide="!filters.schoolType.val" ng-click="filters.schoolType.val=undefined"></i>
</div>
<div class="filter">
  <span>Start date</span>
  <select>
    <option value="">When do you want to start</option>
  </select>
</div>
