<div class="ng-cloak span3" ng-style="{ position: (mode===1 ? 'absolute' : '') }">
  <div ng-show="hierarchy.level1.index===0" class="progress-bar-container">
    <p>School profile <strong>{{percentageComplete}}%</strong> complete</p>
    <div class="progress-bar">
        <div class="progress-bar-complete" ng-style="getProgressBarCompleteStyle()"></div>
    </div>
  </div>

  <div class="nav-arrow-container">
    <span>
      <span class="nav-arrow nav-arrow-left" ng-class="hierarchy.level3.previous ? '' : 'nav-arrow-disabled'"
        ng-click="!hierarchy.level3.previous || go(hierarchy.level3.previous.path)"
        popover="{{hierarchy.level3.previous ? 'Go to previous page: &nbsp; &nbsp; ' + hierarchy.level3.previous.title : 'At start'}}" popover-placement="right" popover-trigger="mouseenter" popover-popup-delay="300">
        <i class="icon-chevron-sign-left"></i>
      </span>
      <span class="nav-arrow nav-arrow-right"  ng-class="hierarchy.level3.next ? '' : 'nav-arrow-disabled'"
        ng-click="!hierarchy.level3.next || go(hierarchy.level3.next.path)"
        popover="{{hierarchy.level3.next ? 'Go to next page: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + hierarchy.level3.next.title : 'At end'}}" popover-placement="left" popover-trigger="mouseenter" popover-popup-delay="300">
        <i class="icon-chevron-sign-right"></i>
      </span>
    </span>
  </div>
  <accordion>
    <accordion-group ng-repeat="s in hierarchy.level1.sections" is-open="s.isSelected">
      <accordion-heading>
        <button class="btn btn-small btn-primary" ng-click="go(s.path + '/1')"
          popover="{{s.tip}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="300"
        >
          <span ng-show="s.icon" class="section-level2-icon"><i class="icon-{{s.icon}}"></i></span>
          {{s.title}}
        </button>
      </accordion-heading>
      <div ng-repeat="ss in s.sections">
        <span style="display: inline-block; width: 18px; margin: 2px 0; color: rgba(0, 136, 204, 0.8);">
          <i class="icon-{{ss.icon}}"></i>
        </span>
        <a class="sub-section" ng-href="#{{ss.path}}"
          ng-class="ss.isSelected ? 'label label-info sub-section-selected' : ''">{{ss.title}}</a>
      </div>
    </accordion-group>
  </accordion>
  <div ng-show="mode===1" style="font-size: 11px; word-wrap: break-word;">
    <hr/>
    <b>Links</b>
    <br/>

    Structure:
    <a href="/th-frontend/3/0.1/scaffolding/server/json/spepStructure.json" target="_blank">spep.json</a> |
    <a href="/th-frontend/3/0.1/scaffolding/server/json/spepNotesStructure.json" target="_blank">notes.json</a> | 
    <a href="/th-frontend/3/0.1/scaffolding/server/json/contentItemShowcaseStructure.json" target="_blank">showcase.json</a>
    <br/>
    
    Common:
    <a href="/th-frontend/3/0.1/scaffolding/server/json/lists.json" target="_blank">lists.json</a>
    <br/>

    Example 1 (full):
    <a href="/th-frontend/3/0.1/scaffolding/server/json/school1234.json" target="_blank">school1234.json</a> | 
    <a href="/th-frontend/3/0.1/scaffolding/server/json/city146.json" target="_blank">city146.json</a>
    <br/>

    Example 2 (minimum): <a href="/th-frontend/3/0.1/scaffolding/server/json/school101.json" target="_blank">school101.json</a> | 
    <a href="/th-frontend/3/0.1/scaffolding/server/json/city25.json" target="_blank">city25.json</a>
    <br/>

    API: <a href="/th-frontend/3/0.1/scaffolding/api/api.json" target="_blank">json</a> | 
    <a href="/th-frontend/3/0.1/scaffolding/api/default.html" target="_blank">viewer</a>

    <br/>
    Samples: 
    <a href="http://beta.teacherhorizons.com/Europe/Portugal/Porto/Oporto_British_School" target="_blank">OBS (beta)</a> | 
    <a href="http://www.teacherhorizons.com/Asia/China/Suzhou/Dulwich_College_Suzhou" target="_blank">DCS (live)</a>

    <hr/>
    <b>Server log</b>
    <button class="btn btn-small" ng-click="serverService.sentToServer = []"
      style ="padding: 0px 3px; margin: -3px 0 0 5px;"}>Clear</button>
    <ul>
      <li ng-repeat="x in serverService.sentToServer track by $index">{{x}}</li>
    </ul>
  </div>
</div>
<div ui-view class="level2-view form-horizontal"></div>
