<div class="navbar-inner">
  <div class="container-fluid">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" style="padding:0;" href="http://www.teacherhorizons.com">
      <img style="padding:0;" class="brand" src="../../../shared/logo.jpg"></img>
    </a>
    <span class="app-loading-container">
      <span class="app-loading-animation ready" data-ng-class="status"></span>
    </span>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li ng-repeat="s in sections" ng-class="s.isSelected ? 'active' : ''">
          <a ng-href="#/{{$index+1}}/1/1">
            <span style="margin: 0 3px 0 -3px;"><i class="icon-{{s.icon}}" style="font-size: 18px;"></i></span>
            {{s.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
