<div class="url-edit">
  <div text-edit model="model"></div>
  <a ng-show="!model.isUrlEditMode" type="text" target="_blank" href="http://{{model.url}}" tooltip="{{model.val}}">{{model.url}}</a>
  <input ng-show="model.isUrlEditMode" type="text" ng-model="model.url" ng-blur="model.isUrlEditMode=false" placeholder="www.example.com"></input>
  <span style="margin-left: 5px; cursor: pointer" ng-click="model.isUrlEditMode=!model.isUrlEditMode"
    tooltip="{{model.isUrlEditMode ? 'Click here or away finish' : 'Click to edit URL'}}">
    <i class="icon-{{model.isUrlEditMode ? 'thumbs-up' : 'edit'}}"></i>
  </span>
</div>