<div class="content-item-header">
  <span class="content-item-icon" ng-show="model.icon"><i class="icon-{{model.icon}}"></i></span>
  <span class="content-item-title" style="display: inline;">{{model.title}}</span>

  <span class="content-item-tip" ng-show="model.tip"
    popover="{{model.tip}}" popover-placement="top" popover-trigger="mouseenter">
    <i class="icon-info-sign"></i>
  </span>
  <span class="content-item-flag" ng-show="model.isDirty"
    popover="{{model.isValid ? model.isDirtyTip : (model.isNotValidTip || 'This doesn\'t appear to be valid. Please change it so it can be saved.')}}" popover-placement="top" popover-trigger="mouseenter">
    <i class="icon-flag"></i>
  </span>
  <span class="content-item-being-processed" ng-show="!model.isDirty && model.isBeingProcessed"
    popover="{{model.isBeingProcessedTip}}" popover-placement="top" popover-trigger="mouseenter">
    <img src="http://img.cdn.tl/loading1.gif">
  </span>
  <span class="content-item-recently-processed" ng-show="!model.isDirty && !model.isBeingProcessed && model.isRecentlyProcessed"
    popover="{{model.isRecentlyProcessedTip}}" popover-placement="top" popover-trigger="mouseenter">
    <i class="icon-ok" style="color: #468847;"></i>
  </span>

  <span ng-if="model.isDevMode" style="font-size: 10px; color: red; line-height: 11px;">{{model.val}}</span>

  <span class="content-item-description">{{model.description}}</span>
</div>